<div class="modal fade sv-modal sv-resumen-modal" id="svResumenModal" tabindex="-1" aria-labelledby="svResumenTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="sv-resumen-head">
                    <div class="sv-resumen-avatar" id="svResumenAvatar" aria-hidden="true">?</div>
                    <div>
                        <p class="sv-modal-kicker" id="svResumenKicker">Visitas recientes</p>
                        <h5 class="modal-title" id="svResumenTitle">Cliente</h5>
                        <p class="modal-sub" id="svResumenSub">Resumen de visitas en recorridos</p>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="sv-resumen-grid" id="svResumenGrid"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-primary" href="/Recorridos"><i class="fa fa-map me-1"></i> Ir a Recorridos</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
