#grd_clientes tbody tr {
    border-bottom: none; /* Elimina el borde inferior de cada fila */
    margin: 0; /* Asegúrate de que no haya margen entre filas */
    padding: 0; /* Asegúrate de que no haya relleno entre filas */
}

    #grd_clientes tbody tr:nth-child(odd),
    #grd_clientes tbody tr:nth-child(even) {
        border-bottom: none; /* Asegúrate de que los estilos alternos tampoco tengan bordes */
    }


.modal-edicion {
    max-width: 60%; /* o lo que necesites */
}


@media (max-width: 1300px) {
    .modal-edicion {
        max-width: 80%; /* o lo que necesites */
    }
}

@media (max-width: 900px) {
    .modal-edicion {
        max-width: 98%; /* o lo que necesites */
    }
}

.observacion-texto {
    display: inline-block;
    max-width: 600px; /* más ancho */
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
