/* Fondo azul oscuro */
body {
    background: radial-gradient(1200px 700px at -5% -10%, #1a1f42 0%, #0e1224 40%, #0e1224 100%) fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(40, 138, 237, 1);
}

/* Parte izquierda (azul oscuro) */
.left-side {
    background: radial-gradient(1200px 700px at -5% -10%, #1a1f42 0%, #0e1224 40%, #02061b 100%) fixed;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .left-side img {
        max-width: 80%;
        height: auto;
    }

/* Parte derecha (blanco) */
.right-side {
    width: 25%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .right-side h3 {
        color: #1e3c72;
    }

/* Estilos de los formularios */
.form-control {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.btn-primary {
    width: 100%;
    background-color: #1e3c72;
    border-color: #1e3c72;
    border-radius: 10px;
    padding: 10px;
}

    .btn-primary:hover {
        background-color: #173b63;
        border-color: #173b63;
    }

/* Responsividad */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        height: auto;
    }

    .left-side, .right-side {
        width: 100%;
    }
}

.input-group {
    display: flex;
    align-items: center;
}


    .input-group .input-group-text {
        background: transparent;
        border: none;
        padding: 0;
    }

    .input-group .fa {
        font-size: 1.2rem;
        color: #333;
        cursor: pointer;
    }



.marca-agua-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='300' height='300'> <text x='150' y='150' font-size='20' fill='yellow' text-anchor='middle' transform='rotate(-45 150 150)'> ⚠ AMBIENTE TEST ⚠ </text> </svg>");
    background-repeat: repeat;
    opacity: 0.1;
    animation: respirar 4s ease-in-out infinite;
}

@keyframes respirar {
    0%, 100% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.3;
    }
}
