#tablaProveedores_wrapper label,
#tablaClientes_wrapper label,
#tablaChoferes_wrapper label,
#tablaZonas_wrapper label {
    color: black !important;
}


#tablaProveedores_wrapper thead,
#tablaClientes_wrapper thead,
#tablaChoferes_wrapper thead,
#tablaZonas_wrapper thead {
    margin-top: 30px;
}

#tablaProveedores_wrapper .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th,
#tablaClientes_wrapper .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th,
#tablaChoferes_wrapper .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th,
#tablaZonas_wrapper .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #aeaeae;
    color: white;
}

/* Cambia el color de fondo de todas las celdas, incluida la primera columna, en filas impares */
#tablaProveedores_wrapper .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th,
#tablaClientes_wrapper .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th,
#tablaChoferes_wrapper .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th,
#tablaZonas_wrapper .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: white;
    color: black;
}

#tablaProveedores_wrapper .table-striped > thead > tr > th,
#tablaClientes_wrapper .table-striped > thead > tr > th,
#tablaChoferes_wrapper .table-striped > thead > tr > th,
#tablaZonas_wrapper .table-striped > thead > tr > th {
    background-color: #1fabca;
    color: white;
}

#tablaProveedores tbody tr:hover,
#tablaClientes tbody tr:hover,
#tablaChoferes tbody tr:hover,
#tablaZonas tbody tr:hover {
    cursor: pointer;
}

#grd_Productos_wrapper {
    overflow-x: auto;
}

#grdPagosaProveedores_wrapper {
    overflow-x: auto;
}

#grdPagosaClientes_wrapper {
    overflow-x: auto;
}


.selected {
    background-color: #1fabca !important;
}

select option:disabled {
    color: red; /* Cambiar el color de la letra a rojo */
}

#usarSaldoFavor:checked {
    background-color: #28a745; /* Verde */
    border-color: #28a745;
}

    #usarSaldoFavor:checked + .form-check-label {
        color: #28a745; /* Verde para el texto */
    }

.bgSaldoFavor {
    background-color: rgba(128, 128, 128, 0.3); /* Gris con transparencia */
    border: 1px solid rgba(128, 128, 128, 0.5); /* Borde gris */
   
}

.select2-container--default .select2-selection--single {
    height: 38px !important;
    border: 1px solid #0d6efd !important; /* mismo azul que el input */
    padding: 0rem 0.75rem !important;
    background-color: white !important;
    color: black !important;
    border-radius: 0.375rem !important;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 38px !important; /* igual a la altura del select */
        color: black !important; /* aseguro color del texto */
    }


    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 38px !important;
    }

.select2-container--default .select2-results > .select2-results__options {
    background-color: white !important; /* o el color de tu fondo */
    color: white !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: white !important;
    color: burlywood !important;
}

.tablaDetalleFacturaIVA {
    width: 100%;
    background-color: #f8f9fa;
    border-collapse: collapse;
    font-size: 14px;
}

    .tablaDetalleFacturaIVA th {
        background-color: #007bff;
        color: white;
        padding: 6px 10px;
        text-align: left;
        width: 50%;
    }

    .tablaDetalleFacturaIVA td {
        padding: 6px 10px;
        text-align: right;
        font-weight: bold;
        color: #333;
    }
