html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



select.form-control option {
    color: black;
}



body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-attachment: fixed;
    background-position: center center;
    background-color: #1B2631;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    width: 99%;
    height: 98%;
    margin-left: 5px;
}


table.dataTable > thead > tr > th {
    background-color: #323844;
    color: white;
}


.input-nuevo {
    border: none;
    border-bottom: 0px;
    border-bottom: solid blue;
    width: 70%;
    margin-bottom: 20px;
    color: black;
    text-align: center !important;
    font-size: 0.8vw;
    max-width: 200px !important;
    background: #1B2631 !important;
    color: white !important;
}

.select-modal-personalizado {
    background: white !important;
    color: green !important;
    margin-top: 5px;
}

#estado option[value="Pendiente"] {
    background-color: yellow; /* Fondo amarillo para 'Pendiente' */
    color: black; /* Color de texto negro para 'Pendiente' */
}

#estado option[value="Entregado"] {
    background-color: green; /* Fondo verde para 'Entregado' */
    color: white; /* Color de texto blanco para 'Entregado' */
}

.divFiltros {
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border: solid blue;
    display: flex;
    width: 85%;
    display: block;
    position: relative;
    left: 8%;
    margin-top: 20px;
    color: black;
    text-align: center;
}

.lblfiltro {
    margin-left: 30px;
    font-size: 0.7vw;
}


td {
    color: white;
}

.dataTables_wrapper .dataTables_filter input {
    color: white;
}

tr {
    color: white;
}

th {
    text-align: center;
}

table {
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #097CF7;
}

.divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr {
    background-image: url(noise.png);
}

.general {
    border: 1px solid;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #2a303a;
    color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #353c48;
    color: white;
}

.table-striped > thead > tr > th {
    background-color: #323844;
    color: white;
}



/* Cambia el color de fondo de todas las celdas, incluida la primera columna, en filas pares */
table.dataTable.display tbody tr:nth-child(even) td {
    background-color: #353c48 !important; /* Color para filas pares */
}

/* Cambia el color de fondo de todas las celdas, incluida la primera columna, en filas impares */
table.dataTable.display tbody tr:nth-child(odd) td {
    background-color: #2a303a !important; /* Color para filas impares */
}

/* Estilo para la fila seleccionada */
table.dataTable.display tbody tr.seleccionada,
table.dataTable.display tbody tr.seleccionada td {
    background-color: #065f8c !important;
    color: white !important;
}




table.dataTable {
    width: 100%;
}

    table.dataTable td, table.dataTable th {
        padding: 8px;
    }


table,
thead,
tr,
tbody,
th,
td {
    text-align: center !important;
}


.dataTables_wrapper .dataTables_length select {
    margin-top: 10px;
}

.dataTables_filter {
    margin-top: 10px;
}

span {
    color: white;
}

thead input {
    background-color: white !important;
}

.btn-exportar-excel {
    background-color: #198754 !important;
    color: white !important;
}

.btn-exportar-pdf {
    background-color: #dc3545 !important;
    color: white !important;
}

.btn-exportar-print {
    background-color: #00a7c9 !important;
    color: white !important;
}

.datatablepersonalizado {
    width: 99% !important;
    max-width: auto !important;
    position: absolute !important;
    left: 12px !important;
    font-size: calc(0.3vw, 0.7vh) !important;
}

.dataTables_info {
    color: white !important;
}


label {
    color: white;
}


.dataTables_wrapper a {
    background: #E5E7E9 !important;
}

.card-body,
.card-header {
    background: #323844 !important;
    color: white;
}


.card {
    background-color: transparent !important;
    border-radius: 50px;
}


.imagenMenu {
    position: absolute;
    left: -5vw;
}


.input-nuevomodif {
    display: flex;
    border: none;
    border-bottom: 10px;
    border-bottom: solid blue;
    width: 70%;
    display: block;
    position: relative;
    left: 17%;
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    font-size: 1.5vw;
    max-width: 500px !important;
    color: black !important;
}

    .input-nuevomodif:active {
        border: none;
        border-bottom: solid blue;
    }

    .input-nuevomodif::placeholder {
        color: black;
        opacity: 1 !important;
    }

    .input-nuevomodif:hover {
        outline: none !important;
    }

    .input-nuevomodif:focus {
        outline: none !important;
        border-bottom: solid #00a7c9;
    }


.txtEdicion {
    border-bottom: 10px;
    border-bottom: solid orange !important;
}


.lblNombreInput {
    display: flex;
    justify-content: center;
    text-align: center !important;
    color: #05056C;
    font-size: 1.3vw;
}

.estiloError {
    max-width: 800px !important;
    width: 95% !important;
}

/* Estilo personalizado para la colección de botones */
div.dt-button-collection {
    background-color: #0D82F7; /* Cambia el color de fondo */
    border-color: #0D82F7 !important; /* Cambia el color del borde */
}

    div.dt-button-collection .dt-button {
        color: white; /* Cambia el color del texto */
        background-color: #0D82F7; /* Cambia el color de fondo */
        border-color: #0D82F7 !important; /* Cambia el color del borde */
    }

        div.dt-button-collection .dt-button:hover {
            background-color: #0E21E3 !important; /* Cambia el color de fondo al pasar el mouse */
        }







.divMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImagen {
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border: solid blue;
    width: 70%;
    display: flex;
    width: 70%;
    display: block;
    position: relative;
    left: 17%;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    max-width: 500px !important;
}

.input-imagen {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 30%;
    width: 40%;
}

.divImagen:active {
    border: solid red;
}

.divImagen::placeholder {
    color: black;
    opacity: 1 !important;
}

.divImagen:hover {
    outline: none !important;
}

.divImagen:focus {
    outline: none !important;
    border: solid red;
}

.divArchivo {
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border: solid blue;
    width: 70%;
    display: flex;
    width: 70%;
    display: block;
    position: relative;
    left: 17%;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    max-width: 500px !important;
}


@media (max-width: 1000px) {


    .lblfiltro {
        font-size: 4vw !important;
        display: block;
        margin-left: -16px !important;
    }

    .input-nuevo {
        width: 100% !important;
        /*display: block !important;*/
        max-width: 1500px !important;
        font-size: 4vw !important;
    }
}

@media (max-width: 900px) {

    .lblNombreInput {
        font-size: 3vw !important;
    }

    .input-nuevomodif {
        font-size: 2.8vw !important;
    }
}


@media (max-width: 600px) {
    .lblNombreInput {
        font-size: 3.5vw !important;
    }

    .input-nuevomodif {
        font-size: 3.3vw !important;
    }
}

@media (max-width: 450px) {
    .lblNombreInput {
        font-size: 3.8vw !important;
    }

    .input-nuevomodif {
        font-size: 3.6vw !important;
    }
}




@media (max-width: 400px) {
    .imageMenu {
        height: 60px;
        width: 60px;
    }
}


.dataTables_scrollHeadInner {
    margin: 0 auto;
}


.dataTables_wrapper .dataTables_length select {
    background-color: white !important;
}

.input-nuevo::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invierte los colores del icono */
    opacity: 0.8; /* Ajusta la opacidad si es necesario */
}

.acciones-menu {
    position: relative;
    z-index: 9999999 !important; /* Asegura que este contenedor se apile correctamente */
}

.acciones-dropdown {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10000; /* Eleva este elemento para superar otros */
    margin-top: -30px;
    padding: 5px;
    border-radius: 4px;
    min-width: 150px; /* Ajusta el ancho mínimo si es necesario */
}

    .acciones-dropdown button {
        display: block;
        width: 100%;
        text-align: left;
        padding: 5px;
        border: none;
        background: none;
    }

        .acciones-dropdown button:hover {
            background-color: #f0f0f0;
        }


.dataTables_wrapper {
    position: relative;
    z-index: 1; /* Este valor debe ser menor que el del menú */
}

    .dataTables_wrapper .dataTable tbody tr {
        border-bottom: none !important; /* Sobrescribe cualquier borde inferior */
    }

        .dataTables_wrapper .dataTable tbody tr td {
            border: none !important; /* Elimina bordes dentro de las celdas */
        }


@keyframes blinkTextShadow {
    0% {
        box-shadow: inset 0 0 10px #d4edda;
        color: white;
        transform: scale(1);
    }

    50% {
        box-shadow: inset 0 0 10px #28a745;
        color: #28a745;
        transform: scale(1.1);
    }

    100% {
        box-shadow: inset 0 0 10px #d4edda;
        color: white;
        transform: scale(1);
    }
}

.blinking {
    animation: blinkTextShadow 3s ease-out; /* Duración de 3 segundos, se repite infinitamente */
}

/* Cambiar el color del texto en los elementos select2 */
.select2-container .select2-selection__rendered {
    color: black !important; /* Asegura que el color del texto sea negro */
}


/* Elimina los bordes y deja solo un borde inferior rojo */
.select2-container--default .select2-selection--single {
    border: none !important;
    border-bottom: 3px solid blue !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}


    /* Estilo del texto dentro del Select2 */
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        text-align: center;
        color: white !important;
    }

/* Ajusta el tamaño del dropdown */
.select2-dropdown {
    text-align: center;
    color: black !important;
}

/* Ajusta la alineación de las opciones */
.select2-results__option {
    text-align: center;
    color: black !important; /* Asegura que el color del texto sea negro en las opciones */
}



@media screen and (max-width: 1100px) {
    /* Contenedor de Select2 */
    .select2-container--default .select2-selection--single {
        margin-top: -11px !important;
    }

    .select2-container {
        max-width: 100% !important;
        width: 100% !important;
    }
}

.marca-agua-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='300' height='300'> <text x='150' y='150' font-size='20' fill='yellow' text-anchor='middle' transform='rotate(-45 150 150)'> ⚠ AMBIENTE TEST ⚠ </text> </svg>"); background-repeat: repeat;
    opacity: 0.1;
    animation: respirar 4s ease-in-out infinite;
}

#exitoModal, #AdvertenciaModal, #ErrorModal {
    z-index: 99999999;
}


@keyframes respirar {
    0%, 100% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.3;
    }
}



@keyframes pulseTest {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.7;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.ambiente-test-label {
    animation: pulseTest 2s infinite;
    color: #ffcc00;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    text-align: center;
    margin-left: 1rem;
    white-space: nowrap;
}

/* 🔒 Ocultar si es menor a 700px */
@media (max-width: 799px) {
    .ambiente-test-label {
        display: none !important;
    }
}

.colorEncabezado {
    background: linear-gradient(to right, #005bea, #418bf9, #7baaf7);
    color: white;
    border: none !important
}


.card-body,
.card-header {
    background: #323844 !important;
    color: white;
}

.card {
    background: radial-gradient(1200px 700px at -5% -10%,#1a1f42 0%,#0e1224 40%,#0e1224 100%) fixed;
    border-radius: 50px;
}

.modal-content {
    background-color: #323844 !important;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: none;
}

/* Efecto blinking robusto */
.blinking-resaltado td {
    animation: blink 1s linear infinite;
}

/* Si querés que también cambie el texto a negro */
.blinking-resaltado td {
    color: black !important;
}

@keyframes blink {
    0% {
        background-color: #ffff99 !important;
    }

    50% {
        background-color: #ffffff !important;
    }

    100% {
        background-color: #ffff99 !important;
    }
}


.toastr.ancho-personalizado {
    min-width: 400px; /* O el ancho que prefieras */
}


/* Efecto zoom y color verde en cada celda */
/*table.dataTable > thead > tr > th .zoom-green-highlight td {
    animation: zoomGreenEffect 2s ease;
}*/

table.dataTable.display tbody tr.zoom-nuevo-highlight {
    animation: zoomGreenEffect 3s ease-out forwards;
    background: transparent; /* por si hay algo heredado */
}

    table.dataTable.display tbody tr.zoom-nuevo-highlight td {
        background-color: transparent !important;
    }

@keyframes zoomGreenEffect {
    0% {
        background: linear-gradient(90deg, #a5d6a7, #66bb6a); /* Verde medio */
    }

    40% {
        background: linear-gradient(90deg, #66bb6a, #388e3c); /* Verde intenso */
    }

    100% {
        background: linear-gradient(90deg, #a5d6a7, #66bb6a); /* Vuelve a verde medio */
    }
}


table.dataTable.display tbody tr.zoom-actualizar-highlight {
    animation: zoomWarningEffect 3s ease-out forwards;
    background: transparent;
}

    table.dataTable.display tbody tr.zoom-actualizar-highlight td {
        background-color: transparent !important;
    }

@keyframes zoomWarningEffect {
    0% {
        background: linear-gradient(90deg, #fceabb, #f0ad4e); /* Amarillo claro a naranja toastr */
    }

    40% {
        background: linear-gradient(90deg, #f0ad4e, #ec971f); /* Naranja toastr a más oscuro */
    }

    100% {
        background: linear-gradient(90deg, #fceabb, #f0ad4e);
    }
}



.paginate_button.current {
    background-color: #007bff !important;
    color: white !important;
    border: 1px solid #007bff !important;
    border-radius: 4px !important;
}