#modalClientes .select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
    border-radius: 0.375rem !important;
    background-color: #fff !important;
    padding: 0.375rem 0.75rem;
    height: auto !important;
}

#modalClientes .select2-selection__rendered {
    color: #212529 !important;
    text-align: left !important;
}


/* ===== Selección de filas (verde) ===== */
#grd_Zonas tbody tr.row-selected td {
    background-color: #00731A !important; /* verde suave */
    transition: background-color .25s ease, box-shadow .25s ease;
}

#grd_Zonas tbody tr.row-selected {
    box-shadow: inset 3px 0 0 0 #2ea043; /* borde verde a la izquierda */
}
