@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration

@{
    var ambienteTest = Configuration.GetValue<int>("AmbienteTest");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Gestion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaGian.Application.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Estilos", required: false)
</head>
<body class="@(ambienteTest == 1 ? "ambiente-test" : "")">
    <partial name="~/Views/Shared/Partials/NavbarLogin.cshtml" />

    @if (ambienteTest == 1)
    {
        <div class="marca-agua-svg"></div>
    }


    <div class="row">
        <!-- Columna del logo -->
        <div class="col-lg-12 divLogo">
            <img src="/Imagenes/logo.png" class="img-fluid imageLogo" alt="Logo">
        </div>
    </div>

   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.5/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
